JieMeiTao_ProductUploader/UKjiemeitao.Web/App_WebReferences/ShopStyleServiceReference/SSWCFService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://UKjiemeitao.taobao.com/SSProductColorImageMappingtDataObject.xsd" elementFormDefault="qualified" targetNamespace="http://UKjiemeitao.taobao.com/SSProductColorImageMappingtDataObject.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8058/SSWCFService.svc?xsd=xsd3" namespace="http://UKjiemeitao.taobao.com/SSProductDataObject.xsd" />
  <xs:import schemaLocation="http://localhost:8058/SSWCFService.svc?xsd=xsd2" namespace="http://UKjiemeitao.taobao.com/SSCollectionDataObjectList.xsd" />
  <xs:complexType name="SSProductColorImageMappingtDataObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element name="product_id" type="xs:long" />
      <xs:element name="color_name" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="image_id" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:q1="http://UKjiemeitao.taobao.com/SSProductDataObject.xsd" minOccurs="0" name="Product" nillable="true" type="q1:SSProductDataObject" />
      <xs:element xmlns:q2="http://UKjiemeitao.taobao.com/SSCollectionDataObjectList.xsd" minOccurs="0" name="ImageCollection" nillable="true" type="q2:SSImageDataObjectList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SSProductColorImageMappingtDataObject" nillable="true" type="tns:SSProductColorImageMappingtDataObject" />
</xs:schema>