JieMeiTao_ProductUploader/UKjiemeitao.Web/App_WebReferences/ShopStyleServiceReference/SSWCFService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://UKjiemeitao.taobao.com/SSCategoryDataObject.xsd" elementFormDefault="qualified" targetNamespace="http://UKjiemeitao.taobao.com/SSCategoryDataObject.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8058/SSWCFService.svc?xsd=xsd2" namespace="http://UKjiemeitao.taobao.com/SSCollectionDataObjectList.xsd" />
  <xs:complexType name="SSCategoryDataObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element name="cat_id" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="localizedid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="shortname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="parentid" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://UKjiemeitao.taobao.com/SSCollectionDataObjectList.xsd" minOccurs="0" name="ProductCollection" nillable="true" type="q1:SSProductDataObjectList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SSCategoryDataObject" nillable="true" type="tns:SSCategoryDataObject" />
</xs:schema>