JieMeiTao_ProductUploader/UKjiemeitao.Web/App_WebReferences/ShopStyleServiceReference/SSWCFService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://UKjiemeitao.taobao.com" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://UKjiemeitao.taobao.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://UKjiemeitao.taobao.com/Imports">
      <xsd:import schemaLocation="http://localhost:8058/SSWCFService.svc?xsd=xsd0" namespace="http://UKjiemeitao.taobao.com" />
      <xsd:import schemaLocation="http://localhost:8058/SSWCFService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8058/SSWCFService.svc?xsd=xsd2" namespace="http://UKjiemeitao.taobao.com/SSCollectionDataObjectList.xsd" />
      <xsd:import schemaLocation="http://localhost:8058/SSWCFService.svc?xsd=xsd3" namespace="http://UKjiemeitao.taobao.com/SSProductDataObject.xsd" />
      <xsd:import schemaLocation="http://localhost:8058/SSWCFService.svc?xsd=xsd4" namespace="http://UKjiemeitao.taobao.com/SSBrandDataObject.xsd" />
      <xsd:import schemaLocation="http://localhost:8058/SSWCFService.svc?xsd=xsd5" namespace="http://UKjiemeitao.taobao.com/SSBrandSynonymsDataObject.xsd" />
      <xsd:import schemaLocation="http://localhost:8058/SSWCFService.svc?xsd=xsd6" namespace="http://UKjiemeitao.taobao.com/SSRetailerDataObject.xsd" />
      <xsd:import schemaLocation="http://localhost:8058/SSWCFService.svc?xsd=xsd7" namespace="http://UKjiemeitao.taobao.com/SSCategoryDataObject.xsd" />
      <xsd:import schemaLocation="http://localhost:8058/SSWCFService.svc?xsd=xsd8" namespace="http://UKjiemeitao.taobao.com/SSSizeDataObject.xsd" />
      <xsd:import schemaLocation="http://localhost:8058/SSWCFService.svc?xsd=xsd9" namespace="http://UKjiemeitao.taobao.com/SSProductColorImageMappingtDataObject.xsd" />
      <xsd:import schemaLocation="http://localhost:8058/SSWCFService.svc?xsd=xsd10" namespace="http://UKjiemeitao.taobao.com/SSImageDataObject.xsd" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IShopStyleService_GetProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProduct" />
  </wsdl:message>
  <wsdl:message name="IShopStyleService_GetProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductResponse" />
  </wsdl:message>
  <wsdl:message name="IShopStyleService_TranslateProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:TranslateProduct" />
  </wsdl:message>
  <wsdl:message name="IShopStyleService_TranslateProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:TranslateProductResponse" />
  </wsdl:message>
  <wsdl:message name="IShopStyleService_GetProductByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductByID" />
  </wsdl:message>
  <wsdl:message name="IShopStyleService_GetProductByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductByIDResponse" />
  </wsdl:message>
  <wsdl:portType name="IShopStyleService">
    <wsdl:operation name="GetProduct">
      <wsdl:input wsaw:Action="http://UKjiemeitao.taobao.com/IShopStyleService/GetProduct" message="tns:IShopStyleService_GetProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://UKjiemeitao.taobao.com/IShopStyleService/GetProductResponse" message="tns:IShopStyleService_GetProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TranslateProduct">
      <wsdl:input wsaw:Action="http://UKjiemeitao.taobao.com/IShopStyleService/TranslateProduct" message="tns:IShopStyleService_TranslateProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://UKjiemeitao.taobao.com/IShopStyleService/TranslateProductResponse" message="tns:IShopStyleService_TranslateProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductByID">
      <wsdl:input wsaw:Action="http://UKjiemeitao.taobao.com/IShopStyleService/GetProductByID" message="tns:IShopStyleService_GetProductByID_InputMessage" />
      <wsdl:output wsaw:Action="http://UKjiemeitao.taobao.com/IShopStyleService/GetProductByIDResponse" message="tns:IShopStyleService_GetProductByID_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>