JieMeiTao_ProductUploader/UKjiemeitao.WPFUI/Service References/SSWCFService/SSWCFService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://UKjiemeitao.taobao.com/SSImageDataObject.xsd" elementFormDefault="qualified" targetNamespace="http://UKjiemeitao.taobao.com/SSImageDataObject.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8058/SSWCFService.svc?xsd=xsd9" namespace="http://UKjiemeitao.taobao.com/SSProductColorImageMappingtDataObject.xsd" />
  <xs:complexType name="SSImageDataObject">
    <xs:sequence>
      <xs:element name="id" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="image_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="size_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="width" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="height" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://UKjiemeitao.taobao.com/SSProductColorImageMappingtDataObject.xsd" minOccurs="0" name="Color" nillable="true" type="q1:SSProductColorImageMappingtDataObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SSImageDataObject" nillable="true" type="tns:SSImageDataObject" />
</xs:schema>