JieMeiTao_ProductUploader/UKjiemeitao.WPFUI/Service References/SSWCFService/SSWCFService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://UKjiemeitao.taobao.com/SSCollectionDataObjectList.xsd" elementFormDefault="qualified" targetNamespace="http://UKjiemeitao.taobao.com/SSCollectionDataObjectList.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8058/SSWCFService.svc?xsd=xsd3" namespace="http://UKjiemeitao.taobao.com/SSProductDataObject.xsd" />
  <xs:import schemaLocation="http://localhost:8058/SSWCFService.svc?xsd=xsd5" namespace="http://UKjiemeitao.taobao.com/SSBrandSynonymsDataObject.xsd" />
  <xs:import schemaLocation="http://localhost:8058/SSWCFService.svc?xsd=xsd7" namespace="http://UKjiemeitao.taobao.com/SSCategoryDataObject.xsd" />
  <xs:import schemaLocation="http://localhost:8058/SSWCFService.svc?xsd=xsd8" namespace="http://UKjiemeitao.taobao.com/SSSizeDataObject.xsd" />
  <xs:import schemaLocation="http://localhost:8058/SSWCFService.svc?xsd=xsd9" namespace="http://UKjiemeitao.taobao.com/SSProductColorImageMappingtDataObject.xsd" />
  <xs:import schemaLocation="http://localhost:8058/SSWCFService.svc?xsd=xsd10" namespace="http://UKjiemeitao.taobao.com/SSImageDataObject.xsd" />
  <xs:complexType name="SSProductDataObjectList">
    <xs:sequence>
      <xs:element xmlns:q1="http://UKjiemeitao.taobao.com/SSProductDataObject.xsd" minOccurs="0" maxOccurs="unbounded" name="SSProductDataObject" nillable="true" type="q1:SSProductDataObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SSProductDataObjectList" nillable="true" type="tns:SSProductDataObjectList" />
  <xs:complexType name="SSBrandSynonymsDataObjectList">
    <xs:sequence>
      <xs:element xmlns:q2="http://UKjiemeitao.taobao.com/SSBrandSynonymsDataObject.xsd" minOccurs="0" maxOccurs="unbounded" name="SSBrandSynonymsDataObject" nillable="true" type="q2:SSBrandSynonymsDataObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SSBrandSynonymsDataObjectList" nillable="true" type="tns:SSBrandSynonymsDataObjectList" />
  <xs:complexType name="SSCategoryDataObjectList">
    <xs:sequence>
      <xs:element xmlns:q3="http://UKjiemeitao.taobao.com/SSCategoryDataObject.xsd" minOccurs="0" maxOccurs="unbounded" name="SSCategoryDataObject" nillable="true" type="q3:SSCategoryDataObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SSCategoryDataObjectList" nillable="true" type="tns:SSCategoryDataObjectList" />
  <xs:complexType name="SSSizeDataObjectList">
    <xs:sequence>
      <xs:element xmlns:q4="http://UKjiemeitao.taobao.com/SSSizeDataObject.xsd" minOccurs="0" maxOccurs="unbounded" name="SSSizeDataObject" nillable="true" type="q4:SSSizeDataObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SSSizeDataObjectList" nillable="true" type="tns:SSSizeDataObjectList" />
  <xs:complexType name="SSProductColorImageMappingtDataObjectList">
    <xs:sequence>
      <xs:element xmlns:q5="http://UKjiemeitao.taobao.com/SSProductColorImageMappingtDataObject.xsd" minOccurs="0" maxOccurs="unbounded" name="SSProductColorImageMappingtDataObject" nillable="true" type="q5:SSProductColorImageMappingtDataObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SSProductColorImageMappingtDataObjectList" nillable="true" type="tns:SSProductColorImageMappingtDataObjectList" />
  <xs:complexType name="SSImageDataObjectList">
    <xs:sequence>
      <xs:element xmlns:q6="http://UKjiemeitao.taobao.com/SSImageDataObject.xsd" minOccurs="0" maxOccurs="unbounded" name="SSImageDataObject" nillable="true" type="q6:SSImageDataObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SSImageDataObjectList" nillable="true" type="tns:SSImageDataObjectList" />
</xs:schema>