JieMeiTao_ProductUploader/UKjiemeitao.WPFUI/Service References/SSWCFService/SSWCFService8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://UKjiemeitao.taobao.com" elementFormDefault="qualified" targetNamespace="http://UKjiemeitao.taobao.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8058/SSWCFService.svc?xsd=xsd2" namespace="http://UKjiemeitao.taobao.com/SSCollectionDataObjectList.xsd" />
  <xs:import schemaLocation="http://localhost:8058/SSWCFService.svc?xsd=xsd3" namespace="http://UKjiemeitao.taobao.com/SSProductDataObject.xsd" />
  <xs:element name="GetProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://UKjiemeitao.taobao.com/SSCollectionDataObjectList.xsd" minOccurs="0" name="GetProductResult" nillable="true" type="q1:SSProductDataObjectList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TranslateProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://UKjiemeitao.taobao.com/SSProductDataObject.xsd" minOccurs="0" name="product" nillable="true" type="q2:SSProductDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TranslateProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TranslateProductResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://UKjiemeitao.taobao.com/SSProductDataObject.xsd" minOccurs="0" name="GetProductByIDResult" nillable="true" type="q3:SSProductDataObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadRetailers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadRetailersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadBrands">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadBrandsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadColors">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadColorsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadSizes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="catParentID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadSizesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>